In [1]:
import requests
import pandas as pd
import numpy as np

In [2]:
city_info = pd.read_csv("https://raw.githubusercontent.com/plotly/datasets/master/us-cities-top-1k.csv")
city_info.head()

         City           State  Population        lat         lon
0  Marysville      Washington       63269  48.051764 -122.177082
1      Perris      California       72326  33.782519 -117.228648
2   Cleveland            Ohio      390113  41.499320  -81.694361
3   Worcester   Massachusetts      182544  42.262593  -71.802293
4    Columbia  South Carolina      133358  34.000710  -81.034814

In [3]:
city_info = city_info[city_info['Population'] > 50000]

In [4]:
city_info = city_info.reset_index()

In [5]:
all_health_data = pd.read_csv('/Users/kenthansen/Projects/All CHDB Cities v14 - released April 4th, 2022/CHDB_data_city_all_v14.csv')
all_health_data.head()

/Users/kenthansen/miniconda3/envs/geo_env/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3169: DtypeWarning: Columns (20,21) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,state_abbr,state_fips,place_fips,stpl_fips,city_name,metric_name,metric_number,group_name,group_number,num,...,lci,uci,county_indicator,multiplier_indicator,data_yr_type,date_export,geo_level,version,NCHS_disclaimer,suggested_citation
0,AL,1,3076,103076,Auburn,Absenteeism,1,asian,4,NaN,...,-999.0,-999.0,-999,-999,2017-2018,2022-03-16,city,14.0,The downloadable data tables shared on the Cit...,"Department of Population Health, NYU Langone H..."
1,AL,1,3076,103076,Auburn,Absenteeism,1,black,5,163.0,...,-999.0,-999.0,-999,-999,2017-2018,2022-03-16,city,14.0,NaN,NaN
2,AL,1,3076,103076,Auburn,Absenteeism,1,female,2,237.0,...,-999.0,-999.0,-999,-999,2017-2018,2022-03-16,city,14.0,NaN,NaN
3,AL,1,3076,103076,Auburn,Absenteeism,1,hispanic,6,41.0,...,-999.0,-999.0,-999,-999,2017-2018,2022-03-16,city,14.0,NaN,NaN
4,AL,1,3076,103076,Auburn,Absenteeism,1,male,3,225.0,...,-999.0,-999.0,-999,-999,2017-2018,2022-03-16,city,14.0,NaN,NaN

In [14]:
all_health_data[all_health_data['metric_name'] == 'Air pollution - ozone'].iloc[:, 5:]

,metric_name,metric_number,group_name,group_number,num,denom,est,lci,uci,county_indicator,multiplier_indicator,data_yr_type,date_export,geo_level,version,NCHS_disclaimer,suggested_citation
100358,Air pollution - ozone,45,total population,1,-999.0,-999.0,33.4,-999.0,-999.0,-999,-999,12-2020,2022-03-16,city,14.0,NaN,NaN
100359,Air pollution - ozone,45,total population,1,-999.0,-999.0,34.3,-999.0,-999.0,-999,-999,11-2020,2022-03-16,city,14.0,NaN,NaN
100360,Air pollution - ozone,45,total population,1,-999.0,-999.0,34.0,-999.0,-999.0,-999,-999,10-2020,2022-03-16,city,14.0,NaN,NaN
100361,Air pollution - ozone,45,total population,1,-999.0,-999.0,31.6,-999.0,-999.0,-999,-999,09-2020,2022-03-16,city,14.0,NaN,NaN
100362,Air pollution - ozone,45,total population,1,-999.0,-999.0,34.1,-999.0,-999.0,-999,-999,08-2020,2022-03-16,city,14.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118593,Air pollution - ozone,45,total population,1,-999.0,-999.0,42.3,-999.0,-999.0,-999,-999,05-2020,2022-03-16,city,14.0,NaN,NaN
118594,Air pollution - ozone,45,total population,1,-999.0,-999.0,44.0,-999.0,-999.0,-999,-999,04-2020,2022-03-16,city,14.0,NaN,NaN
118595,Air pollution - ozone,45,total population,1,-999.0,-999.0,40.0,-999.0,-999.0,-999,-999,03-2020,2022-03-16,city,14.0,NaN,NaN
118596,Air pollution - ozone,45,total population,1,-999.0,-999.0,33.3,-999.0,-999.0,-999,-999,02-2020,2022-03-16,city,14.0,NaN,NaN
118597,Air pollution - ozone,45,total population,1,-999.0,-999.0,27.2,-999.0,-999.0,-999,-999,01-2020,2022-03-16,city,14.0,NaN,NaN

In [6]:
state_mapping = pd.read_csv('state_codes.txt', header=None)
state_mapping.columns = ['state_name', 'fips', 'abbr']
state_mapping = state_mapping.set_index('state_name').to_dict('index')

In [7]:
city_info['state_abbr'] = city_info['State'].apply(lambda x: state_mapping[x]['abbr'])
city_info['fips'] = city_info['State'].apply(lambda x: state_mapping[x]['fips'])

In [8]:
city_info

,index,City,State,Population,lat,lon,state_abbr,fips
0,0,Marysville,Washington,63269,48.051764,-122.177082,WA,53
1,1,Perris,California,72326,33.782519,-117.228648,CA,6
2,2,Cleveland,Ohio,390113,41.499320,-81.694361,OH,39
3,3,Worcester,Massachusetts,182544,42.262593,-71.802293,MA,25
4,4,Columbia,South Carolina,133358,34.000710,-81.034814,SC,45
...,...,...,...,...,...,...,...,...
738,993,Lake Forest,California,79312,33.646966,-117.689218,CA,6
739,994,Novi,Michigan,57960,42.480590,-83.475491,MI,26
740,995,West New York,New Jersey,52122,40.787879,-74.014306,NJ,34
741,998,Asheville,North Carolina,87236,35.595058,-82.551487,NC,37
742,999,Compton,California,97877,33.895849,-118.220071,CA,6

In [9]:
health_factors = ['Air pollution - particulate matter', 'Air pollution - ozone', 'Cardiovascular disease deaths', 'Diabetes', 'Frequent mental distress', 'Obesity', 'Physical inactivity']

In [10]:
filtered_health = all_health_data[all_health_data['metric_name'].isin(health_factors)]

In [98]:
filtered_health = filtered_health[['state_abbr', 'city_name', 'metric_name', 'group_name', 'est']]

In [99]:
city_info.columns = ['city_id','city_name', 'state', 'population', 'lat', 'lon', 'state_abbr', 'fips']

In [100]:
city_dict = city_info[['city_name', 'state_abbr', 'city_id']]
city_dict['key'] = city_dict['city_name'] + city_dict['state_abbr']
city_dict = city_dict[['key', 'city_id']].set_index('key').to_dict('index')

/var/folders/kn/65gns3dx5651dx7dw03j_xjm0000gn/T/ipykernel_29092/620196856.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city_dict['key'] = city_dict['city_name'] + city_dict['state_abbr']

In [101]:
filtered_health['city_id'] = filtered_health[['city_name', 'state_abbr']].apply(lambda x: city_dict[x['city_name'] + x['state_abbr']]['city_id'] if x['city_name'] + x['state_abbr'] in city_dict else np.nan, axis=1)

In [103]:
filtered_health = filtered_health.dropna()

In [104]:
filtered_health['city_id'] = filtered_health['city_id'].astype(int)

In [106]:
filtered_health.columns = ['abbr', 'city', 'metric_name', 'group_name', 'est', 'city_id']

In [107]:
filtered_health = filtered_health.reset_index()
city_info = city_info.reset_index()

In [108]:
filtered_health = filtered_health.drop('index', axis=1)
city_info = city_info.drop('index', axis=1)

In [109]:
filtered_health = filtered_health.set_index('city_id')
city_info = city_info.set_index('city_id')

In [111]:
joined = filtered_health.join(city_info, on='city_id')

In [112]:
joined = joined.dropna()

In [115]:
joined = joined.drop(['city_name', 'state_abbr', 'fips'], axis=1)
joined

,abbr,city,metric_name,group_name,est,state,population,lat,lon
city_id,,,,,,,,,
614,AL,Auburn,Air pollution - particulate matter,total population,9.1,Alabama,58582,32.609857,-85.480782
248,AL,Birmingham,Air pollution - particulate matter,total population,9.9,Alabama,212113,33.520661,-86.802490
439,DE,Wilmington,Air pollution - particulate matter,total population,8.7,Delaware,71525,39.739072,-75.539788
323,DC,Washington,Air pollution - particulate matter,total population,8.6,District of Columbia,646449,38.907192,-77.036871
455,AL,Decatur,Air pollution - particulate matter,total population,8.6,Alabama,55816,34.605925,-86.983342
...,...,...,...,...,...,...,...,...,...
117,CT,West Haven,Air pollution - ozone,total population,42.3,Connecticut,55046,41.270548,-72.946971
117,CT,West Haven,Air pollution - ozone,total population,44.0,Connecticut,55046,41.270548,-72.946971
117,CT,West Haven,Air pollution - ozone,total population,40.0,Connecticut,55046,41.270548,-72.946971
117,CT,West Haven,Air pollution - ozone,total population,33.3,Connecticut,55046,41.270548,-72.946971
117,CT,West Haven,Air pollution - ozone,total population,27.2,Connecticut,55046,41.270548,-72.946971

In [116]:
joined.to_csv('db_data.csv')

In [3]:
joined = pd.read_csv('city.csv')

In [4]:
joined

,Unnamed: 0,city_name,state_abbr,metric_name,group_name,est,state,population,lat,lon
0,0,Birmingham,AL,Air pollution - particulate matter,total population,10.3,Alabama,212113.0,33.520661,-86.802490
1,1,Wilmington,DE,Air pollution - particulate matter,total population,8.8,North Carolina,112067.0,34.225726,-77.944710
2,2,Washington,DC,Air pollution - particulate matter,total population,9.0,District of Columbia,646449.0,38.907192,-77.036871
3,3,Cape Coral,FL,Air pollution - particulate matter,total population,7.7,Florida,165831.0,26.562854,-81.949533
4,4,Clearwater,FL,Air pollution - particulate matter,total population,8.2,Florida,109703.0,27.965853,-82.800103
...,...,...,...,...,...,...,...,...,...,...
4215,4215,Hartford,CT,Walkability,total population,70.9,Connecticut,125017.0,41.763711,-72.685093
4216,4216,New Haven,CT,Walkability,total population,68.0,Connecticut,130660.0,41.308274,-72.927883
4217,4217,Norwalk,CT,Walkability,total population,47.9,California,106589.0,33.902237,-118.081733
4218,4218,Stamford,CT,Walkability,total population,54.4,Connecticut,126456.0,41.053430,-73.538734
4219,4219,Waterbury,CT,Walkability,total population,47.6,Connecticut,109676.0,41.558153,-73.051496

In [141]:
walk_score = pd.read_csv('../walk_score.csv')

In [142]:
walk_score.columns = ['city_name', 'state_abbr', 'walk_score', 'transit_score', 'bike_score', 'population']

In [143]:
walk_score = walk_score.drop(['population'], axis=1)
walk_score

        city_name state_abbr  walk_score transit_score  bike_score
0        New York         NY        88.0          88.6        69.3
1     Los Angeles         CA        68.6          52.9        58.7
2         Chicago         IL        77.2            65        72.2
3         Houston         TX        47.5          36.2        48.6
4    Philadelphia         PA        74.8            67        66.7
..            ...        ...         ...           ...         ...
103    Montgomery         AL        25.8          16.4        32.9
104    Boise City         ID        38.5          22.6        62.3
105      Richmond         VA        50.9            --        50.8
106    Des Moines         IA        45.0          30.1        39.4
107  Fayetteville         NC        21.4            --        29.7

[108 rows x 5 columns]

In [144]:
walk_score['city_name'] = walk_score['city_name'].replace('Washington D.C.', 'Washington')

In [145]:
walk_score = walk_score.replace('--', np.nan)

In [146]:
joined

,abbr,city,metric_name,group_name,est,state,population,lat,lon
city_id,,,,,,,,,
614,AL,Auburn,Air pollution - particulate matter,total population,9.1,Alabama,58582,32.609857,-85.480782
248,AL,Birmingham,Air pollution - particulate matter,total population,9.9,Alabama,212113,33.520661,-86.802490
439,DE,Wilmington,Air pollution - particulate matter,total population,8.7,Delaware,71525,39.739072,-75.539788
323,DC,Washington,Air pollution - particulate matter,total population,8.6,District of Columbia,646449,38.907192,-77.036871
455,AL,Decatur,Air pollution - particulate matter,total population,8.6,Alabama,55816,34.605925,-86.983342
...,...,...,...,...,...,...,...,...,...
117,CT,West Haven,Air pollution - ozone,total population,42.3,Connecticut,55046,41.270548,-72.946971
117,CT,West Haven,Air pollution - ozone,total population,44.0,Connecticut,55046,41.270548,-72.946971
117,CT,West Haven,Air pollution - ozone,total population,40.0,Connecticut,55046,41.270548,-72.946971
117,CT,West Haven,Air pollution - ozone,total population,33.3,Connecticut,55046,41.270548,-72.946971
117,CT,West Haven,Air pollution - ozone,total population,27.2,Connecticut,55046,41.270548,-72.946971

In [147]:
walk_score['city_id'] = walk_score[['city_name', 'state_abbr']].apply(lambda x: city_dict[x['city_name'] + x['state_abbr']]['city_id'] if x['city_name'] + x['state_abbr'] in city_dict else np.nan, axis=1)

In [148]:
walk_score[walk_score['city_id'].isna() == True]

,city_name,state_abbr,walk_score,transit_score,bike_score,city_id
24,Nashville-Davidson,TN,28.8,21.7,29.7,NaN
26,Louisville-Jefferson,KY,34.3,27.3,43.3,NaN
90,Paradise,NV,50.1,38.1,50.1,NaN
102,Arlington,VA,71.2,58.6,72.3,NaN

In [149]:
# joined = joined.drop('Unnamed: 0', axis=1)
# joined = joined.set_index('city_name')
walk_score = walk_score.set_index('city_id')

In [150]:
joined = joined.join(walk_score, on='city_id')

In [4]:
joined = joined.reset_index()

In [155]:
joined = joined.drop(['city_name', 'state_abbr'], axis=1)

In [4]:
joined.to_csv('city.csv')

In [2]:
joined = pd.read_csv('city.csv')