In [18]:
import requests
import pandas as pd
import numpy as np

In [2]:
city_info = pd.read_csv("https://raw.githubusercontent.com/plotly/datasets/master/us-cities-top-1k.csv")
city_info.head()

         City           State  Population        lat         lon
0  Marysville      Washington       63269  48.051764 -122.177082
1      Perris      California       72326  33.782519 -117.228648
2   Cleveland            Ohio      390113  41.499320  -81.694361
3   Worcester   Massachusetts      182544  42.262593  -71.802293
4    Columbia  South Carolina      133358  34.000710  -81.034814

In [32]:
city_info = city_info[city_info['Population'] > 100000]

In [40]:
city_info.loc[191:]

                     City       State  Population        lat         lon
191           Albuquerque  New Mexico      556495  35.085334 -106.605553
192  Athens-Clarke County     Georgia      119980  33.951935  -83.357567
194       North Las Vegas      Nevada      226877  36.198859 -115.117501
195                Pomona  California      151348  34.055103 -117.749991
199               Midland       Texas      123933  31.997346 -102.077915
..                    ...         ...         ...        ...         ...
980              Glendale     Arizona      234632  33.538652 -112.185987
983             Davenport        Iowa      102157  41.523644  -90.577637
988               Gresham      Oregon      109397  45.500136 -122.430201
991           Santa Clara  California      120245  37.354108 -121.955236
992             Oceanside  California      172794  33.195870 -117.379483

[230 rows x 5 columns]

In [13]:
health_factors = ['air-pollution-particulate-matter', 'air-pollution-ozone', 'cardiovascular-disease-deaths', 'diabetes', 'frequent-mental-distress', 'obesity', 'physical-inactivity', 'walkability']

In [36]:
# data = []
for i, row in city_info.loc[1:].iterrows():
    for factor in health_factors:
        req = requests.get(f"https://api.cityhealthdashboard.com/api/data/city-metric/{factor}?token=47ebc17d73896e342294b8eb89783f47&city_name={row['City']}")
        if (req.status_code == 200) and ('error' not in req.json()):
            data.append(req.json()['rows'][0])

IndexError: list index out of range

In [37]:
pd.DataFrame(data=data)

,state_abbr,state_fips,place_fips,stpl_fips,city_name,metric_name,metric_number,group_name,group_number,num,denom,est,lci,uci,county_indicator,multiplier_indicator,data_yr_type,geo_level,date_export
0,WA,53,43955,5343955,Marysville,Air pollution - particulate matter,2,total population,1,-999,-999,7.4,-999.0,-999.0,-999.0,-999,2017,city,2022-01-11T00:00:00Z
1,WA,53,43955,5343955,Marysville,Cardiovascular disease deaths,29,asian,4,-999,-999,NaN,NaN,NaN,NaN,3,"2017, 3 Year Estimate",city,2022-01-11T00:00:00Z
2,WA,53,43955,5343955,Marysville,Diabetes,6,total population,1,-999,-999,8.9,8.7,9.1,-999.0,-999,"2018, 1 Year Modeled Estimate",city,2022-01-11T00:00:00Z
3,WA,53,43955,5343955,Marysville,Frequent mental distress,7,total population,1,-999,-999,13.7,13.4,14.0,-999.0,-999,"2018, 1 Year Modeled Estimate",city,2022-01-11T00:00:00Z
4,WA,53,43955,5343955,Marysville,Obesity,17,total population,1,-999,-999,32.4,32.1,32.7,-999.0,-999,"2018, 1 Year Modeled Estimate",city,2022-01-11T00:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
541,NM,35,02000,3502000,Albuquerque,Diabetes,6,total population,1,-999,-999,10.1,10.1,10.1,-999.0,-999,"2018, 1 Year Modeled Estimate",city,2022-01-11T00:00:00Z
542,NM,35,02000,3502000,Albuquerque,Frequent mental distress,7,total population,1,-999,-999,14.4,14.3,14.5,-999.0,-999,"2018, 1 Year Modeled Estimate",city,2022-01-11T00:00:00Z
543,NM,35,02000,3502000,Albuquerque,Obesity,17,total population,1,-999,-999,27.1,27.0,27.2,-999.0,-999,"2018, 1 Year Modeled Estimate",city,2022-01-11T00:00:00Z
544,NM,35,02000,3502000,Albuquerque,Physical inactivity,18,total population,1,-999,-999,18.8,18.6,19.0,-999.0,-999,"2018, 1 Year Modeled Estimate",city,2022-01-11T00:00:00Z
545,NM,35,02000,3502000,Albuquerque,Walkability,27,total population,1,-999,-999,41.6,-999.0,-999.0,-999.0,-999,2019,city,2022-01-11T00:00:00Z

In [42]:
all_health_data = pd.read_csv('/Users/kenthansen/Projects/All CHDB Cities v13.1 - released January 11, 2022/CHDB_data_city_all_v13.1.csv')
all_health_data.head()

/Users/kenthansen/miniconda3/envs/geo_env/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3169: DtypeWarning: Columns (20,21) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,state_abbr,state_fips,place_fips,stpl_fips,city_name,metric_name,metric_number,group_name,group_number,num,...,lci,uci,county_indicator,multiplier_indicator,data_yr_type,date_export,geo_level,version,NCHS_disclaimer,suggested_citation
0,AL,1,3076,103076,Auburn,Absenteeism,1,asian,4,NaN,...,-999.0,-999.0,-999.0,-999,2017-2018,2022-01-11,city,13.1,The downloadable data tables shared on the Cit...,"Department of Population Health, NYU Langone H..."
1,AL,1,3076,103076,Auburn,Absenteeism,1,black,5,163.0,...,-999.0,-999.0,-999.0,-999,2017-2018,2022-01-11,city,13.1,NaN,NaN
2,AL,1,3076,103076,Auburn,Absenteeism,1,female,2,237.0,...,-999.0,-999.0,-999.0,-999,2017-2018,2022-01-11,city,13.1,NaN,NaN
3,AL,1,3076,103076,Auburn,Absenteeism,1,hispanic,6,41.0,...,-999.0,-999.0,-999.0,-999,2017-2018,2022-01-11,city,13.1,NaN,NaN
4,AL,1,3076,103076,Auburn,Absenteeism,1,male,3,225.0,...,-999.0,-999.0,-999.0,-999,2017-2018,2022-01-11,city,13.1,NaN,NaN

In [43]:
health_factors = ['Air pollution - particulate matter', 'Air pollution - ozone', 'Cardiovascular disease deaths', 'Diabetes', 'Frequent mental distress', 'Obesity', 'Physical inactivity', 'Walkability']

In [46]:
filtered_health = all_health_data[all_health_data['metric_name'].isin(health_factors)]

In [62]:
filtered_health = filtered_health[['state_abbr', 'city_name', 'metric_name', 'group_name', 'est']]

In [65]:
city_info.columns = ['city_name', 'state', 'population', 'lat', 'lon']

In [72]:
filtered_health = filtered_health.reset_index()
city_info = city_info.reset_index()

In [76]:
filtered_health = filtered_health.drop('index', axis=1)
city_info = city_info.drop('index', axis=1)

In [80]:
filtered_health = filtered_health.set_index('city_name')
city_info = city_info.set_index('city_name')

In [82]:
joined = filtered_health.join(city_info, on='city_name')

In [85]:
joined = joined.dropna()

In [87]:
joined.to_csv('db_data.csv')

In [3]:
joined = pd.read_csv('city.csv')

In [4]:
joined

,Unnamed: 0,city_name,state_abbr,metric_name,group_name,est,state,population,lat,lon
0,0,Birmingham,AL,Air pollution - particulate matter,total population,10.3,Alabama,212113.0,33.520661,-86.802490
1,1,Wilmington,DE,Air pollution - particulate matter,total population,8.8,North Carolina,112067.0,34.225726,-77.944710
2,2,Washington,DC,Air pollution - particulate matter,total population,9.0,District of Columbia,646449.0,38.907192,-77.036871
3,3,Cape Coral,FL,Air pollution - particulate matter,total population,7.7,Florida,165831.0,26.562854,-81.949533
4,4,Clearwater,FL,Air pollution - particulate matter,total population,8.2,Florida,109703.0,27.965853,-82.800103
...,...,...,...,...,...,...,...,...,...,...
4215,4215,Hartford,CT,Walkability,total population,70.9,Connecticut,125017.0,41.763711,-72.685093
4216,4216,New Haven,CT,Walkability,total population,68.0,Connecticut,130660.0,41.308274,-72.927883
4217,4217,Norwalk,CT,Walkability,total population,47.9,California,106589.0,33.902237,-118.081733
4218,4218,Stamford,CT,Walkability,total population,54.4,Connecticut,126456.0,41.053430,-73.538734
4219,4219,Waterbury,CT,Walkability,total population,47.6,Connecticut,109676.0,41.558153,-73.051496

In [9]:
walk_score = pd.read_csv('../walk_score.csv')

In [13]:
walk_score.columns = ['city_name', 'state_abbr', 'walk_score', 'transit_score', 'bike_score', 'population']

In [16]:
walk_score = walk_score.drop(['state_abbr','population'], axis=1)
walk_score

        city_name  walk_score transit_score  bike_score
0        New York        88.0          88.6        69.3
1     Los Angeles        68.6          52.9        58.7
2         Chicago        77.2            65        72.2
3         Houston        47.5          36.2        48.6
4    Philadelphia        74.8            67        66.7
..            ...         ...           ...         ...
103    Montgomery        25.8          16.4        32.9
104    Boise City        38.5          22.6        62.3
105      Richmond        50.9            --        50.8
106    Des Moines        45.0          30.1        39.4
107  Fayetteville        21.4            --        29.7

[108 rows x 4 columns]

In [20]:
walk_score = walk_score.replace('--', np.nan)

In [23]:
joined = joined.drop('Unnamed: 0', axis=1)
joined = joined.set_index('city_name')
walk_score = walk_score.set_index('city_name')

In [25]:
joined = joined.join(walk_score, on='city_name')

In [35]:
joined = joined.reset_index()

In [37]:
joined.to_csv('city.csv')